body {
    width: 80%;
    margin: auto;
}

.container {
    background-color: antiquewhite;
    display: flex;
    margin: auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px solid lightgray;
}

#flex-start {
    justify-content: flex-start;
}

#flex-end {
    justify-content: flex-end;
}

#center {
    justify-content: center;
}

#space-around {
    justify-content: space-around;
}

#space-between {
    justify-content: space-between;
}